@if (ViewBag.Service == "Вызов" || ViewBag.Service == "Все услуги" || ViewBag.Service == "СМС")
{
        <script>
            var data = [
            {
               value: parseFloat(@ViewBag.PercentDurationCall[0].ToString("0.##").Replace(',', '.')),
               color: '#665E60',
               highlight: '#666E80',
                label: 'Другие'
            },
           {
               value: parseFloat(@ViewBag.PercentDurationCall[1].ToString("0.##").Replace(',', '.')),
               color: '#FFB400',
               highlight: '#FFB520',
               label: 'Билайн'
           },
           {
               value: parseFloat(@ViewBag.PercentDurationCall[2].ToString("0.##").Replace(',', '.')),
               color: '#F50000',
               highlight: '#F50120',
               label: 'МТС @ViewBag.DurationCall[2].ToString("0.##").Replace(',', '.')'
           },
           {
               value: parseFloat(@ViewBag.PercentDurationCall[3].ToString("0.##").Replace(',', '.')),
               color: '#04ED14',
               highlight: '#04EE34',
               label: 'Мегафон'
           },
           {
               value: parseFloat(@ViewBag.PercentDurationCall[4].ToString("0.##").Replace(',', '.')),
               color: '#841F7F',
               highlight: '#842F8F',
               label: 'Теле2'
           }];

            var options = {
                responsive: true,
                segmentShowStroke: true,
                animateRotate: true,
                animateScale: false,
                percentageInnerCutout: 50,
                tooltipTemplate: "<%= label %>: <%= value %>%"
            }

            var ctx = document.getElementById("myChartCall").getContext("2d");

            var myChart = new Chart(ctx).Doughnut(data, options);

            // Note - tooltipTemplate is for the string that shows in the tooltip
            // legendTemplate is if you want to generate an HTML legend for the chart and use somewhere else on the page  e.g:


        </script>
        <div class="col-md-6">
            <div id="schedule" style="height: 200px">
                <canvas id="myChartCall" style="width: 100%; height: 100%;"></canvas>
            </div>               
        </div>
        <div class="col-md-6">
            <div class="table-operator">
                <table>

                        <tr>
                            <th>Цвет</th>
                            <th>Оператор</th>
                            <th>Кол-во(шт)</th>
                            <th>Процент(%)</th>
                        </tr>
                    @if (ViewBag.DurationCall[0] != 0)
                    {
                        <tr>
                            <td class="table-color" style="background-color: #665E60; "></td>
                            <td class="table-td">Other</td>
                            <td class="table-td">@ViewBag.DurationCall[0] шт.</td>
                            <td class="table-td">@ViewBag.PercentDurationCall[0].ToString("0.##") %</td>
                        </tr>
                    }
                    @if (ViewBag.DurationCall[1] != 0)
                    {
                        <tr>
                            <td class="table-color" style="background-color: #ffb400; "></td>
                            <td class="table-td">Beeline</td>
                            <td class="table-td">@ViewBag.DurationCall[1] шт.</td>
                            <td class="table-td">@ViewBag.PercentDurationCall[1].ToString("0.##") %</td>
                        </tr>
                    }
                    @if (ViewBag.DurationCall[2] != 0)
                    {
                        <tr>
                            <td class="table-color" style="background-color: #F50000; "></td>
                            <td class="table-td">MTS</td>
                            <td class="table-td">@ViewBag.DurationCall[2] шт.</td>
                            <td class="table-td">@ViewBag.PercentDurationCall[2].ToString("0.##") %</td>
                        </tr>
                    }
                    @if (ViewBag.DurationCall[3] != 0)
                    {
                        <tr>
                            <td class="table-color" style="background-color: #04ED14; "></td>
                            <td class="table-td">Megafon</td>
                            <td class="table-td">@ViewBag.DurationCall[3] шт.</td>
                            <td class="table-td">@ViewBag.PercentDurationCall[3].ToString("0.##") %</td>
                        </tr>
                    }
                    @if (ViewBag.DurationCall[4] != 0)
                    {
                        <tr>
                            <td class="table-color" style="background-color: #841F7F; "></td>
                            <td class="table-td">Tele 2</td>
                            <td class="table-td">@ViewBag.DurationCall[4] шт.</td>
                            <td class="table-td">@ViewBag.PercentDurationCall[4].ToString("0.##") %</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
}




       